@model OrderHeader

@{
	ViewData["Title"] = "Delete";
}

<h1>Delete Order</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Order</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CustomerName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CustomerName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OrderDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OrderDate)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ShippingDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ShippingDate)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OrderTotal)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OrderTotal)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OrderStatus)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OrderStatus)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StreetAddress)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StreetAddress)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.City)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.City)
		</dd>
	</dl>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				@if (User.IsInRole("Admin"))
				{

					<th>
						OrderHeader Id
					</th>
				}
				<th>
					Product
				</th>
				<th>
					Description
				</th>
				<th>
					ISBN
				</th>
				<th>
					Author
				</th>
				<th>
					Image
				</th>
				<th>
					Count
				</th>
				<th>
					Price
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.OrderDetails)
			{
				<tr>
					@if (User.IsInRole("Admin"))
					{
						<td>
							@obj.OrderHeaderId
						</td>
					}
					<td>
						@obj.Product.Title
					</td>
					<td>
						@obj.Product.Description
					</td>
					<td>
						@obj.Product.ISBN
					</td>
					<td>
						@obj.Product.Author
					</td>
					<td>
						@obj.Product.ImageUrl
					</td>
					<td>
						@obj.Count
					</td>
					<td> 
						@obj.Price
					</td>
				</tr>

			}
		</tbody>
	</table>

	<form asp-action="Delete" asp-controller="Order" method="post">
		<input hidden asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index">Back to Order List</a>
	</form>
</div>
