@model List<OrderHeader>
@{
	ViewData["Title"] = "Index";
}

<div class="w-100 d-flex justify-content-between my-3">
	<h1>Orders</h1>
</div>
<form class="d-flex my-2 w-100"
	  action="@(Url.Action("Search","Order"))"
	  method="get">
	<input class="form-control me-sm-2" type="search" name="search" placeholder="Search by customer" value="@ViewBag.SearchTerm">
	<button class="btn btn-secondary my-sm-0" type="submit">Search</button>
</form>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Customer Name
			</th>
			<th>
				Order Date
			</th>
			<th>
				Shipping Date
			</th>
			<th>
				Order Total
			</th>
			<th>
				Order Status
			</th>
			<th>
				Phone Number
			</th>
			<th>
				Address
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<a href="#">
				<tr>
					<td>
							@obj.CustomerName
					</td>
					<td>
							@obj.OrderDate
					</td>
					<td>
							@obj.ShippingDate
					</td>
					<td>
							@obj.OrderTotal
					</td>
					<td>
							@obj.OrderStatus
					</td>
					<td>
							@obj.PhoneNumber
					</td>
					<td>
							@($"{obj.StreetAddress}, {obj.City}")
					</td>
					<td>
						<a asp-controller="Order" asp-action="GetDetail" asp-route-id="@obj.Id">Detail</a>
						<a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
						<a asp-controller="Order" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
					</td>
				</tr>
			</a>

		}
	</tbody>
</table>
